* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  color: black;
  text-align: center;
  padding: 10px;
}

.content {
  background-color: white;
  width: 100%;
  margin: 20% auto;
}

table {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

tr,
td,
th,
table {
  border-right: 2px solid white;
  border-collapse: collapse;
  padding: 5px;
}

th {
  color: #7027a0;
  font-size: 25px;
}

button {
  background-color: #7027a0;
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  margin: 10px auto;
  border-radius: 10px;
}

button:hover {
  background-color: blue;
}

.basic {
  background-color: #a6e97f;
}

.plus {
  background-color: #c6d57e;
}

.deluxe {
  background-color: rgb(152, 240, 211);
}
.pro {
  background-color: #cdf2ca;
}

tr:nth-child(odd) {
  background-color: #b1e693;
}

tr:nth-child(even) {
  background-color: #fffeb7;
}
